body{
    background-color: #161b22;
    color: #ffff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    
    
    border: 2px solid ; 
    color: #161b22;
    
}

td ,th {
    border: 1px solid ; /* Bordes de celdas y encabezados de columna */
    padding: 10px;
    text-align: left;
    background:  #e6edf3;
    
}

.celdaClick {
    background-color:#1f883d;
}